LI, UL, .Explicit {
}

.headline {
	font-weight: bold;
	font-size: 14pt;
	color: #336;
	text-decoration: none;
}

.subheading {
	font-weight: bold;
	color: #336;
}

.photocaption {
	font-size: 8pt;
	font-style: italic;
}

.byline {
	font-style: italic;
}

.MSPageHeader {
   font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 14pt;
	color: #EA77B2;
	text-decoration: none;
}

.MSSectionHeader {
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #EA77B2;
	
}

.MSPageText {
	font-family: Arial, sans-serif;
	color: #000000;
}

.MSFooterText {
	font-family: Arial, sans-serif;
	color: #EA77B2;
	text-decoration: none;
}

a.Pinklink {
	color: #EE56A9;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
}

a.pinklink:hover {
	color: #EE56A9;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 8pt;
	text-decoration: underline;
}

.GOLFPageHeader{
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0c429c;
	text-decoration: none;
}


/*MSABC FY11*/
.MSABCFY11StridesHeadline {
color:#9B0059;
font-family:Arial,Helvetica,sans-serif;
font-size:17px;
margin-bottom:0;
margin-left:0;
margin-top:0;
}
.MSABCFY11StridesHeadline19 {
color:#9B0059;
font-family:Arial,Helvetica,sans-serif;
font-size:19px;
margin-bottom:0;
margin-left:0;
margin-top:0;
}

.MSABCFY10SectionHeader {
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #9b0059;
	font-size:22px;
}

.MSABCFY10SmallHeader {
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #9b0059;
}

.CRPageHeader{
	color:#005dab;
	font-size:22px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.CRSubHeader{
	color:#005dab;
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.GOLFSubHeader{
	color:#556f51;
	font-size:14px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.GalaPageHeader{
	color:#000000;
	font-size:22px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.GalaSubHeader{
	color:#000000;
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.CFPPageHeader{
	color:#798696;
	font-size:22px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.CFPSubHeader{
	color:#798696;
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.CVCPageHeader{
	color:#ef722e;
	font-size:22px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.CVCSubHeader{
	color:#1e3360;
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.BikeHdr{
	color:#003399;
	font-size:22px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.BikeSubHdr{
	color:#003399;
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.DDPageHeader{
	color:#089d55;
	font-size:22px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}


.DDSubHeader{
	color:#089d55;
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.WalkRollPageHeader{
	color:#660000;
	font-size:22px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

.WalkRollSubHeader{
	color:#660000;
	font-size:18px;
	font-weight:bold;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}

/*
.DDBlueSubheading{	
	color: #3d70b7;
	font-weight: bold;
}

.DDGreenSubheading{
	color: #B7D20B;
	font-weight: bold;
}

.DDGreenHeadline {
	font-weight: bold;
	font-size: 14pt;
	color: #B7D20B;
	text-decoration: none;
}

.DDBlueHeadline {
	font-weight: bold;
	font-size: 14pt;
	color: #3d70b7;
	text-decoration: none;
}

.DDBlueText {
	color: #3d70b7;
}

.smallblue{
	
}

.whitetext{	
}

.footertext{
	
}

.eventButtons{
	float:right;
	margin-right:4px;
}

.eventItems ul{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#005dab;
}


.eventsnoShow{
	list-style-type:none;
}

.teamacsText{
	font-family:Arial, Helvetica, sans-serif;
	color:005dab;
	font-size:11px;
}

.eventButtons{
	float:right;
	margin-right:4px;
}


.HeadlineGala {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}

table.lc_Table {
 border: 1px solid #749dd3;
}
tr.lc_Row1 {
 background-color: #749dd3;
}
tr.lc_Row0 {
 background-color: #ffffff;
}

td.lc_Cell {
 border: none;
 padding-top:6px;
 padding-left:2px;
}
table.lc_Table a {
 color: black;
 font-weight: bold;
 font-size: 11px;
 padding:12px;
}
table.lc_Table a.event {
 color: black;
 font-weight: bold;
 font-size: 11px;
}

.headline{
	font-family:Arial, Helvetica, sans-serif;
	color:#749dd3;
	font-size:14px;
	font-weight:bold;
}

*/

/* DN FY Styles */
.DNFY10SectionHeader {
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #0038A8;
	font-size:18px;
}

.DNFY10SmallHeader {
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #0038A8;
}

/* RFL Styles */
.RFLHeader {
color:#2b0171;
font-size:18px;
font-weight:bold;
}

